# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.Â¶

In [1]:
#By using Range, Get list of number that divisible by 7 and give name it "l1"
l1=list(range(2000,3000,7))
l1

[2000,
 2007,
 2014,
 2021,
 2028,
 2035,
 2042,
 2049,
 2056,
 2063,
 2070,
 2077,
 2084,
 2091,
 2098,
 2105,
 2112,
 2119,
 2126,
 2133,
 2140,
 2147,
 2154,
 2161,
 2168,
 2175,
 2182,
 2189,
 2196,
 2203,
 2210,
 2217,
 2224,
 2231,
 2238,
 2245,
 2252,
 2259,
 2266,
 2273,
 2280,
 2287,
 2294,
 2301,
 2308,
 2315,
 2322,
 2329,
 2336,
 2343,
 2350,
 2357,
 2364,
 2371,
 2378,
 2385,
 2392,
 2399,
 2406,
 2413,
 2420,
 2427,
 2434,
 2441,
 2448,
 2455,
 2462,
 2469,
 2476,
 2483,
 2490,
 2497,
 2504,
 2511,
 2518,
 2525,
 2532,
 2539,
 2546,
 2553,
 2560,
 2567,
 2574,
 2581,
 2588,
 2595,
 2602,
 2609,
 2616,
 2623,
 2630,
 2637,
 2644,
 2651,
 2658,
 2665,
 2672,
 2679,
 2686,
 2693,
 2700,
 2707,
 2714,
 2721,
 2728,
 2735,
 2742,
 2749,
 2756,
 2763,
 2770,
 2777,
 2784,
 2791,
 2798,
 2805,
 2812,
 2819,
 2826,
 2833,
 2840,
 2847,
 2854,
 2861,
 2868,
 2875,
 2882,
 2889,
 2896,
 2903,
 2910,
 2917,
 2924,
 2931,
 2938,
 2945,
 2952,
 2959,
 2966,
 2973,
 2980,
 2987,
 2994]

In [2]:
#Use simple for loop and remove element which are not multile of 5
for i in l1:
    if(i%5!=0):
        print(i)

2007
2014
2021
2028
2042
2049
2056
2063
2077
2084
2091
2098
2112
2119
2126
2133
2147
2154
2161
2168
2182
2189
2196
2203
2217
2224
2231
2238
2252
2259
2266
2273
2287
2294
2301
2308
2322
2329
2336
2343
2357
2364
2371
2378
2392
2399
2406
2413
2427
2434
2441
2448
2462
2469
2476
2483
2497
2504
2511
2518
2532
2539
2546
2553
2567
2574
2581
2588
2602
2609
2616
2623
2637
2644
2651
2658
2672
2679
2686
2693
2707
2714
2721
2728
2742
2749
2756
2763
2777
2784
2791
2798
2812
2819
2826
2833
2847
2854
2861
2868
2882
2889
2896
2903
2917
2924
2931
2938
2952
2959
2966
2973
2987
2994

In [3]:
#This is one another way to get same out in just one logic. Both program give same o/p
for a in range(2000,3200):
    if (a%7==0) and (a%5!=0):
        print(a)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199